<%= form_for @curso, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :semestre_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:curso, :semestre_id, Semestre.all, :id, :nombre, {prompt: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :periodo_lectivo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :periodo_lectivo_id, :class => 'number_field' %>
      <%= collection_select(:curso, :periodo_lectivo_id, PeriodoLectivo.all, :id, :nombre, {prompt: true}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cursos_path, :class => 'btn' %>
  </div>
<% end %>
