<%= form_for @asignacion_docente, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :docente_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:asignacion_docente, :docente_id, Docente.all, :id, :nombres, {prompt: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :curso_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:asignacion_docente, :curso_id, Curso.all, :id, {prompt: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :materia_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:asignacion_docente, :materia_id, Materia.all, :id, :alias, {prompt: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dia_semanal_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:asignacion_docente, :dia_semanal_id, Docente.all, :id, :nombre, {prompt: true}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                asignacion_docentes_path, :class => 'btn' %>
  </div>
<% end %>
