<%- model_class = AsignacionDocente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @asignacion_docente.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:docente_id) %>:</strong></dt>
  <dd><%= @asignacion_docente.docente.nombre_completo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:curso_id) %>:</strong></dt>
  <dd><%= @asignacion_docente.curso_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:materia_id) %>:</strong></dt>
  <dd><%= @asignacion_docente.materia.nombre_completo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dia_semanal_id) %>:</strong></dt>
  <dd><%= @asignacion_docente.dia_semanal.nombre_completo %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              asignacion_docentes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_asignacion_docente_path(@asignacion_docente), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              asignacion_docente_path(@asignacion_docente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
