<%= form_for @nro_actum, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nro_acta, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :nro_acta, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tomo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tomo, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nro_acta_path, :class => 'btn' %>
  </div>
<% end %>
