<%- model_class = AsignacionFuncionario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:sede_id) %></th>
      <th><%= model_class.human_attribute_name(:funcionario_id) %></th>
      <th><%= model_class.human_attribute_name(:cargo_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @asignacion_funcionarios.each do |asignacion_funcionario| %>
      <tr>
        <td><%= link_to asignacion_funcionario.id, asignacion_funcionario_path(asignacion_funcionario) %></td>
        <td><%= asignacion_funcionario.nombre %></td>
        <td><%= asignacion_funcionario.sede.completo %></td>
        <td><%= asignacion_funcionario.funcionario.completo %></td>
        <td><%= asignacion_funcionario.cargo.completo %></td>
        <td><%= asignacion_funcionario.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_asignacion_funcionario_path(asignacion_funcionario), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      asignacion_funcionario_path(asignacion_funcionario),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_asignacion_funcionario_path,
            :class => 'btn btn-primary' %>
