<%= form_for(@malla_curricular) do |f| %>
  <% if @malla_curricular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@malla_curricular.errors.count, "error") %> prohibited this malla_curricular from being saved:</h2>

      <ul>
      <% @malla_curricular.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plan_curricular %><br />
    <%= f.text_field :plan_curricular %>
  </div>
  <div class="field">
    <%= f.label :facultad %><br />
    <%= f.text_field :facultad %>
  </div>
  <div class="field">
    <%= f.label :curso %><br />
    <%= f.text_field :curso %>
  </div>
  <div class="field">
    <%= f.label :materia %><br />
    <%= f.text_field :materia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
