<%= form_for @sede, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :universidad_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:sede, :universidad_id, Universidad.all, :id, :nombre, {prompt: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :facultad_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:sede, :facultad_id, Facultad.all, :id, :nombre, {prompt: true}) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ciudad_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:sede, :ciudad_id, Ciudad.all, :id, :nombre, {prompt: true}) %> 
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sedes_path, :class => 'btn' %>
  </div>
<% end %>
