<%- model_class = Sede -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:universidad_id) %></th>
      <th><%= model_class.human_attribute_name(:facultad_id) %></th>
      <th><%= model_class.human_attribute_name(:ciudad_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= link_to sede.id, sede_path(sede) %></td>
        <td><%= sede.nombre %></td>
        <td><%= sede.universidad.completo %></td>
        <td><%= sede.facultad.completo %></td>
        <td><%= sede.ciudad.completo %></td>
        <td><%=l sede.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sede_path(sede), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sede_path(sede),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sede_path,
            :class => 'btn btn-primary' %>
