<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @materium.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @materium.nombre %>
</p>

<p>
  <b>Alias:</b>
  <%= @materium.alias %>
</p>

<p>
  <b>Hs:</b>
  <%= @materium.hs %>
</p>

<p>
  <b>Contenido:</b>
  <%= @materium.contenido %>
</p>


<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
