<%= form_for @materia, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :codigo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :codigo, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alias, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :alias, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hs, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hs, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contenido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :contenido, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materias_path, :class => 'btn' %>
  </div>
<% end %>
