<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @semestre.descripcion %>
</p>

<p>
  <b>Numero:</b>
  <%= @semestre.numero %>
</p>


<%= link_to 'Edit', edit_semestre_path(@semestre) %> |
<%= link_to 'Back', semestres_path %>
